@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html, body, .main-container {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #e2e8f0;
}

p {
    color: #000;
}


.main-container {
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar content content  announcements"
    "sidebar content content announcements";

}

.header {
    background-color: #fff;
    grid-area: header;
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sidebar {
    background-color: #1992D4;
    grid-area: sidebar;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
}

.content {
    grid-area: content;
    margin-left: 20px;
}

.content-cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 20px;

}

.announcements {
    grid-area: announcements;
    margin-right: 20px;
}

.logo {
    display: flex;
    gap: 15px;
    padding-left: 20px;
}

.logo p {
    align-self: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.top-links ul > li,
.bottom-links ul > li {
    display: flex;
    gap: 15px;  
}

.top-links ul,
.bottom-links ul  {
    display: flex;
    flex-direction: column;
    gap: 15px;  
}

.top-links ul > li a:last-child,
.bottom-links ul > li a:last-child {
    align-self: center;
}

.top-links,
.bottom-links {
    padding-left: 25px;
}

.top-side {
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
}

.bot-side {
    display: flex;
    padding-left: 40px;
    justify-content: space-between;
}

.left-side ul {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.left-side .search {
    width: 700px;
    height: 40px;
    background-color: #E2E8F0;
    border-radius: 20px;
    
}

.right-side ul {
    margin-top: 20px;
    padding-right: 90px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.right-side p {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

.bot-side .left-side p:last-child {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.bot-side .right-side {
    display: flex;
    align-items: center;
}

.bot-side .right-side  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    border-radius: 50px;
    background-color: #1992D4;
}

.card {
    background-color: #fff;
    height: 215px;
    width: 380px;
    border-radius: 10px;
    border-left: 8px solid #f0b428;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25px;
}

.a-card {
    background-color: #fff;
    height: 330px;
    width: 260px;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.a-card > div {
    width: 200px;
    padding: 10px;
}

.a-card div p:nth-child(2) {
    color: rgb(150, 150, 150);
}

.a-card div:nth-child(1) {
    border-bottom: 1px solid black;
}


.a-card div:nth-child(2) {
    border-bottom: 1px solid black;
}



.project-info p:first-child {
    font-size: 20px;
}

.project-info p:last-child {
    width: 280px;
    color: #636363;
}

.project-links {
    align-self: flex-end;
}