html, body, .main-container {
    height: 100%;
    width: 100%;
}


body {
    background-color: #e2e8f0;
}


.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar content content announcements"
    "sidebar content content announcements";

}

.header {

    background-color: #fff;
    grid-area: header;
}

.sidebar {

    background-color: #1992D4;
    grid-area: sidebar;
}

.content {

    background-color: #fff;
    grid-area: content;

}

.announcements {

    background-color: #1992D4;
    grid-area: announcements;
}

